<?xml version="1.0" encoding="utf-8" ?>

<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       autoReload="true"
       throwExceptions="true"
       internalLogFile="S:\Dropbox\Visual Studio\Sandboxes\Duplicate Finder\NLog Internal.log"
       internalLogLevel="Info"
       internalLogToConsole="true"
       autoFlush="true"
       >
  
  <targets>
    <!-- 
      <default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
    -->

    <target name="AssertTarget" xsi:type="Console"/>
    
    <target name="TraceLog" xsi:type="File" fileName="S:\Dropbox\Visual Studio\Sandboxes\Duplicate Finder\Trace.log" replaceFileContentsOnEachWrite="true" layout="${processTime}|${level}|${message}" />
    
    <!--
    <target name="InfoLog" xsi:type="File" fileName="S:\Dropbox\Visual Studio\Sandboxes\Duplicate Finder\Info.log" replaceFileContentsOnEachWrite="true" layout="${processTime}|${level}|${message}" />
    <target name="console" xsi:type="Console" layout="${processTime}|${level}|${message}" />
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TraceLog" />
  </rules>

</nlog>